.on{
    position: relative;
    top: 40px;
    left: 700px;
    width: 180px;
    height: 70px;
    background-color: rgb(24, 175, 27);
    font-size: 20px;
}
.off{
    position: relative;
    top: 40px;
    left: 1150px;
    width: 180px;
    height: 70px;
    background-color: rgb(174, 21, 21);
    font-size: 20px;
}
.motor{
    position: relative;
    padding-top: 50px;
    padding-left: 970px;
}
.trangthai{
    font-size: 18px;
    position: relative;
    padding-left: 1270px;
    top: -500px;
}
.wrap {
    height: 100px;
    display: flex;
  }

.button {
    width: 200px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fffefe;
    background-color: rgb(24, 175, 27);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: static;
}
.button:hover {
    background-color: #01110a;
    box-shadow: 0px 15px 20px rgba(20, 100, 179, 0.601);
    color: #ffffff;
    transform: translateY(-0px);
  }
.wrap1 {
    height: 100px;
    display: flex;
  }
.button1 {
    width: 200px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fffefe;
    background-color: rgb(174, 21, 21);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.button1:hover {
    background-color: #01110a;
    box-shadow: 0px 15px 20px rgba(20, 100, 179, 0.601);
    color: #ffffff;
    transform: translateY(-0px);
  }
