
.container{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background-color: rgb(10, 10, 128);
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo img{
    max-width: 80px;
    height: auto;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px 110px;
    position: relative;
    left: -300px;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: rgb(251, 252, 252);
    display: block;
    padding: 11px 20px;
    text-decoration: none;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: rgb(10, 10, 128);
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;
}
#main-menu li:hover ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    font-size: 13px;
    padding: 8px 25px;
    border-bottom: 1px solid #e6dada;
}
#main-menu ul.sub-menu li:hover a{
    border-bottom: 1px soild#ede2e2;

}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: rgb(235, 235, 49);
    position: absolute;
    bottom:0px;
    left: 0px;
    transition: 0.18s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
    color: #e6dada;
}
.anh{
    position: relative;
    top: 100px;
    left: 800px;
    
}
.me-5{
    position: relative;
    top: 65px;
    left: 50px;
}
.ms-5{
    position: relative;
    top: 70px;
    left: 50px;
}
.wrap {
    height: 100px;
    display: flex;
   
  }
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgb(10, 10, 128);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -410px;
    left: 1200px;
    }
  .button:hover {
    background-color: #418d6c;
    box-shadow: 0px 15px 20px rgba(20, 100, 179, 0.601);
    color: #ffffff;
    transform: translateY(-0px);
  }